/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, img, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #721919;
    padding: 0 20px;
    background-color: #ce9ab0;
}

/* Header and Navigation */
header {
    background: #c26d6d;
    color: #a17373;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #c22b2b;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 20px 0;
    max-width: 800px;
    margin: 0 auto;
}

#about, #portfolio, #contact {
    margin: 20px 0;
    background: #c07ea4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.8;
}


/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
